Repository gabriellagziel/appoint, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, flutter, ci

🔧 Fix marketing build script with explicit echo and exit 0
  .do/app_spec_simple.yaml
  marketing/package.json
Labels: none

🔧 Fix marketing build script with explicit echo and exit 0
  .do/app_spec_simple.yaml
  marketing/package.json
Labels: none

🎉 Create working static deployment with success page
  .do/app_spec_final.yaml
  .do/app_spec_static.yaml
  .do/app_spec_working.yaml
  marketing/public/index.html
Labels: none

🎉 Create working static deployment with success page
  .do/app_spec_final.yaml
  .do/app_spec_static.yaml
  .do/app_spec_working.yaml
  marketing/public/index.html
Labels: none

🚀 DEPLOY: Admin Panel Production Ready - Standalone Server
  admin/.do/app.yaml
  admin/Dockerfile
  admin/deploy.sh
  admin/package-lock.json
  admin/package.json
  admin/src/app/admin/ambassadors/page.tsx
  admin/src/app/admin/appointments/page.tsx
  admin/src/app/admin/broadcasts/page.tsx
  admin/src/app/admin/content/page.tsx
  admin/src/app/admin/exports/page.tsx
  admin/src/app/admin/features/page.tsx
  admin/src/app/admin/flags/page.tsx
  admin/src/app/admin/legal/page.tsx
  admin/src/app/admin/notifications/page.tsx
  admin/src/app/admin/payments/page.tsx
  admin/src/app/admin/settings/page.tsx
  admin/src/app/admin/surveys/page.tsx
  admin/src/app/admin/system/page.tsx
  admin/src/components/Sidebar.tsx
  admin/src/components/ui/progress.tsx
  admin/src/components/ui/select.tsx
  admin/src/components/ui/tabs.tsx
  admin/src/components/ui/textarea.tsx
  admin/src/middleware.ts
  admin/src/services/adminLogging.ts
Labels: none

🚀 DEPLOY: Admin Panel Production Ready - Standalone Server
  admin/.do/app.yaml
  admin/Dockerfile
  admin/deploy.sh
  admin/package-lock.json
  admin/package.json
  admin/src/app/admin/ambassadors/page.tsx
  admin/src/app/admin/appointments/page.tsx
  admin/src/app/admin/broadcasts/page.tsx
  admin/src/app/admin/content/page.tsx
  admin/src/app/admin/exports/page.tsx
  admin/src/app/admin/features/page.tsx
  admin/src/app/admin/flags/page.tsx
  admin/src/app/admin/legal/page.tsx
  admin/src/app/admin/notifications/page.tsx
  admin/src/app/admin/payments/page.tsx
  admin/src/app/admin/settings/page.tsx
  admin/src/app/admin/surveys/page.tsx
  admin/src/app/admin/system/page.tsx
  admin/src/components/Sidebar.tsx
  admin/src/components/ui/progress.tsx
  admin/src/components/ui/select.tsx
  admin/src/components/ui/tabs.tsx
  admin/src/components/ui/textarea.tsx
  admin/src/middleware.ts
  admin/src/services/adminLogging.ts
Labels: none

🚀 DEPLOY: Admin Panel Production Ready - Standalone Server
  admin/.do/app.yaml
  admin/Dockerfile
  admin/deploy.sh
  admin/package-lock.json
  admin/package.json
  admin/src/app/admin/ambassadors/page.tsx
  admin/src/app/admin/appointments/page.tsx
  admin/src/app/admin/broadcasts/page.tsx
  admin/src/app/admin/content/page.tsx
  admin/src/app/admin/exports/page.tsx
  admin/src/app/admin/features/page.tsx
  admin/src/app/admin/flags/page.tsx
  admin/src/app/admin/legal/page.tsx
  admin/src/app/admin/notifications/page.tsx
  admin/src/app/admin/payments/page.tsx
  admin/src/app/admin/settings/page.tsx
  admin/src/app/admin/surveys/page.tsx
  admin/src/app/admin/system/page.tsx
  admin/src/components/Sidebar.tsx
  admin/src/components/ui/progress.tsx
  admin/src/components/ui/select.tsx
  admin/src/components/ui/tabs.tsx
  admin/src/components/ui/textarea.tsx
  admin/src/middleware.ts
  admin/src/services/adminLogging.ts
Labels: none

🚀 DEPLOY: Admin Panel Production Ready - Standalone Server
  admin/.do/app.yaml
  admin/Dockerfile
  admin/deploy.sh
  admin/package-lock.json
  admin/package.json
  admin/src/app/admin/ambassadors/page.tsx
  admin/src/app/admin/appointments/page.tsx
  admin/src/app/admin/broadcasts/page.tsx
  admin/src/app/admin/content/page.tsx
  admin/src/app/admin/exports/page.tsx
  admin/src/app/admin/features/page.tsx
  admin/src/app/admin/flags/page.tsx
  admin/src/app/admin/legal/page.tsx
  admin/src/app/admin/notifications/page.tsx
  admin/src/app/admin/payments/page.tsx
  admin/src/app/admin/settings/page.tsx
  admin/src/app/admin/surveys/page.tsx
  admin/src/app/admin/system/page.tsx
  admin/src/components/Sidebar.tsx
  admin/src/components/ui/progress.tsx
  admin/src/components/ui/select.tsx
  admin/src/components/ui/tabs.tsx
  admin/src/components/ui/textarea.tsx
  admin/src/middleware.ts
  admin/src/services/adminLogging.ts
Labels: none

📋 DEPLOYMENT: Add comprehensive deployment guide and DigitalOcean config
  admin/DEPLOYMENT_GUIDE.md
  admin/do-app-spec.yaml
Labels: docs

📋 DEPLOYMENT: Add comprehensive deployment guide and DigitalOcean config
  admin/DEPLOYMENT_GUIDE.md
  admin/do-app-spec.yaml
Labels: docs

📋 DEPLOYMENT: Add comprehensive deployment guide and DigitalOcean config
  admin/DEPLOYMENT_GUIDE.md
  admin/do-app-spec.yaml
Labels: docs

📋 DEPLOYMENT: Add comprehensive deployment guide and DigitalOcean config
  admin/DEPLOYMENT_GUIDE.md
  admin/do-app-spec.yaml
Labels: docs

🚀 COMPLETE: Full App-Oint landing page with modular sections and AI-ready messaging
  marketing/pages/index.js
Labels: none

🚀 COMPLETE: Full App-Oint landing page with modular sections and AI-ready messaging
  marketing/pages/index.js
Labels: none

✅ COMPLETE: Full WhatsApp Group Share flow for guest + registered users with web fallback, QR download, and deep link tracking
  WHATSAPP_GROUP_SHARE_GUEST_FLOW_IMPLEMENTATION.md
  functions/src/guest_participants.ts
  lib/config/app_router.dart
  lib/features/invite/guest_meeting_view.dart
  lib/features/invite/test_guest_flow.dart
  lib/features/invite/widgets/app_download_prompt.dart
  lib/services/custom_deep_link_service.dart
Labels: docs, flutter

✅ COMPLETE: Full WhatsApp Group Share flow for guest + registered users with web fallback, QR download, and deep link tracking
  WHATSAPP_GROUP_SHARE_GUEST_FLOW_IMPLEMENTATION.md
  functions/src/guest_participants.ts
  lib/config/app_router.dart
  lib/features/invite/guest_meeting_view.dart
  lib/features/invite/test_guest_flow.dart
  lib/features/invite/widgets/app_download_prompt.dart
  lib/services/custom_deep_link_service.dart
Labels: docs, flutter

✅ COMPLETE: Full Business↔User Meeting Interaction System – invitations, discovery, booking, profile browsing
  lib/features/discovery/business_discovery_screen.dart
  lib/features/discovery/business_map_screen.dart
  lib/features/discovery/business_profile_screen.dart
  lib/features/discovery/widgets/business_profile_card.dart
  lib/features/invitations/invitation_detail_screen.dart
  lib/features/invitations/invitation_list_screen.dart
  lib/features/invitations/widgets/business_profile_card.dart
  lib/features/invitations/widgets/invitation_card.dart
  lib/models/meeting_invitation.dart
  lib/services/invitation_service.dart
  lib/widgets/app_shell.dart
Labels: flutter

✅ COMPLETE: Full Business↔User Meeting Interaction System – invitations, discovery, booking, profile browsing
  lib/features/discovery/business_discovery_screen.dart
  lib/features/discovery/business_map_screen.dart
  lib/features/discovery/business_profile_screen.dart
  lib/features/discovery/widgets/business_profile_card.dart
  lib/features/invitations/invitation_detail_screen.dart
  lib/features/invitations/invitation_list_screen.dart
  lib/features/invitations/widgets/business_profile_card.dart
  lib/features/invitations/widgets/invitation_card.dart
  lib/models/meeting_invitation.dart
  lib/services/invitation_service.dart
  lib/widgets/app_shell.dart
Labels: flutter

fix(marketing): remove Tailwind CSS PostCSS config causing build issues
  marketing/package-lock.json
  marketing/postcss.config.mjs
  marketing/tailwind.config.js
Labels: none

fix(marketing): remove Tailwind CSS PostCSS config causing build issues
  marketing/package-lock.json
  marketing/postcss.config.mjs
  marketing/tailwind.config.js
Labels: none

ci: update CI/CD for web-only Next.js build matrix
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
Labels: ci

ci: update CI/CD for web-only Next.js build matrix
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
Labels: ci

chore: update do-app.yaml for web-only deployment
  do-app.yaml
Labels: none

chore: update do-app.yaml for web-only deployment
  do-app.yaml
Labels: none

chore: add Business Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Business Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Enterprise Onboarding Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Enterprise Onboarding Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Admin Panel to do-app.yaml
  config/do-app.yaml
Labels: none

chore: add Admin Panel to do-app.yaml
  config/do-app.yaml
Labels: none

chore: add Docs site to do-app.yaml
  do-app.yaml
Labels: none

chore: add Docs site to do-app.yaml
  do-app.yaml
Labels: none

chore: add Business Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Business Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Enterprise Onboarding Portal to do-app.yaml
  do-app.yaml
Labels: none

chore: add Enterprise Onboarding Portal to do-app.yaml
  do-app.yaml
Labels: none

feat: add api-functions service and update app configuration
  do-app.yaml
Labels: none

feat: add api-functions service and update app configuration
  do-app.yaml
Labels: none

chore: remove tracked node_modules and update .gitignore
  .gitignore
Labels: none

chore: remove tracked node_modules and update .gitignore
  .gitignore
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'
  - 'docs/**'
flutter:
  - 'lib/**'
  - 'test/**'
  - 'integration_test/**'
ci:
  - '.github/**'
