Repository gabriellagziel/appoint, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, flutter, ci

.github/labeler.yml:

docs:
  - '**/*.md'
  - 'docs/**'
flutter:
  - 'lib/**'
  - 'test/**'
  - 'integration_test/**'
ci:
  - '.github/**'

🐛 Fix login screen test to match actual UI text
  test/widgets/login_screen_test.dart
Labels: flutter

🐛 Fix login screen test to match actual UI text
  test/widgets/login_screen_test.dart
Labels: flutter

🐛 Fix login screen test to match actual UI text
  test/widgets/login_screen_test.dart
Labels: flutter

🐛 Fix login screen test to match actual UI text
  test/widgets/login_screen_test.dart
Labels: flutter

🐛 Fix login screen test to match actual UI text
  test/widgets/login_screen_test.dart
Labels: flutter

🐛 Fix login screen overflow by making content scrollable
  lib/features/auth/login_screen.dart
Labels: flutter

🐛 Fix intl dependency version to match Flutter SDK requirements
  pubspec.yaml
Labels: none

🐛 Fix intl dependency version to match Flutter SDK requirements
  pubspec.yaml
Labels: none

🐛 Fix intl dependency version to match Flutter SDK requirements
  pubspec.yaml
Labels: none

🐛 Fix intl dependency version to match Flutter SDK requirements
  pubspec.yaml
Labels: none

🐛 Fix intl dependency version to match Flutter SDK requirements
  pubspec.yaml
Labels: none

🐛 Remove local mock definitions to use only generated mocks
  test/firebase_test_helper.dart
Labels: flutter

🐛 Remove local mock definitions to use only generated mocks
  test/firebase_test_helper.dart
Labels: flutter

🐛 Remove local mock definitions to use only generated mocks
  test/firebase_test_helper.dart
Labels: flutter

🐛 Remove local mock definitions to use only generated mocks
  test/firebase_test_helper.dart
Labels: flutter

🐛 Remove local mock definitions to use only generated mocks
  test/firebase_test_helper.dart
Labels: flutter

BACKUP: Save current state before merging all branches - Thu Jul 31 00:23:12 CEST 2025
  analyzer_output.txt
  full_analyzer_output.txt
  full_issue_counts.txt
  issue_counts.txt
  pubspec.yaml
  test/ambassador_dashboard_test.dart
  test/features/admin/admin_dashboard_screen_test.dart
  test/features/admin/admin_panel_integration_test.dart
  test/features/auth/auth_wrapper_network_error_test.dart
  test/features/booking/chat_length_limit_test.dart
  test/features/family/family_management_test.dart
  test/features/family/parental_settings_screen_test.dart
  test/features/studio_business/business_subscription_screen_test.dart
  test/firebase_test_helper.dart
  test/firebase_test_setup.dart
  test/l10n/localization_test.dart
  test/mocks/firebase_mocks.dart
  test/models/appointment_test.dart
  test/models/personal_appointment_test.dart
  test/models/price_model_test.dart
  test/models/user_profile_test.dart
  test/providers/auth_notifier_test.dart
  test/services/booking_service_enhanced_test.dart
  test/services/error_handling_service_test.dart
  test/services/offline_booking_repository_test.dart
  test/ui/edit_profile_screen_test.dart
  test/utils/booking_helper_test.dart
  test/utils/date_extensions_test.dart
  test/widgets/booking_slot_chip_test.dart
  test/widgets/login_screen_test.dart
Labels: flutter

BACKUP: Save current state before merging all branches - Thu Jul 31 00:23:12 CEST 2025
  analyzer_output.txt
  full_analyzer_output.txt
  full_issue_counts.txt
  issue_counts.txt
  pubspec.yaml
  test/ambassador_dashboard_test.dart
  test/features/admin/admin_dashboard_screen_test.dart
  test/features/admin/admin_panel_integration_test.dart
  test/features/auth/auth_wrapper_network_error_test.dart
  test/features/booking/chat_length_limit_test.dart
  test/features/family/family_management_test.dart
  test/features/family/parental_settings_screen_test.dart
  test/features/studio_business/business_subscription_screen_test.dart
  test/firebase_test_helper.dart
  test/firebase_test_setup.dart
  test/l10n/localization_test.dart
  test/mocks/firebase_mocks.dart
  test/models/appointment_test.dart
  test/models/personal_appointment_test.dart
  test/models/price_model_test.dart
  test/models/user_profile_test.dart
  test/providers/auth_notifier_test.dart
  test/services/booking_service_enhanced_test.dart
  test/services/error_handling_service_test.dart
  test/services/offline_booking_repository_test.dart
  test/ui/edit_profile_screen_test.dart
  test/utils/booking_helper_test.dart
  test/utils/date_extensions_test.dart
  test/widgets/booking_slot_chip_test.dart
  test/widgets/login_screen_test.dart
Labels: flutter

Merge multiple fix branches - resolved conflicts by taking incoming changes
  lib/l10n/app_localizations_he.dart
  lib/l10n/app_localizations_it.dart
Labels: flutter

Merge multiple fix branches - resolved conflicts by taking incoming changes
  lib/l10n/app_localizations_he.dart
  lib/l10n/app_localizations_it.dart
Labels: flutter

Merge multiple fix branches - resolved conflicts by taking incoming changes
  lib/l10n/app_localizations_he.dart
  lib/l10n/app_localizations_it.dart
Labels: flutter

Add simplified production deployment workflow without custom Docker image
  .github/workflows/deploy-production-simple.yml
Labels: ci

Add simplified production deployment workflow without custom Docker image
  .github/workflows/deploy-production-simple.yml
Labels: ci

Add simplified production deployment workflow without custom Docker image
  .github/workflows/deploy-production-simple.yml
Labels: ci

Add simplified production deployment workflow without custom Docker image
  .github/workflows/deploy-production-simple.yml
Labels: ci

Add simplified production deployment workflow without custom Docker image
  .github/workflows/deploy-production-simple.yml
Labels: ci

🚀 DEPLOYMENT INFRASTRUCTURE: Perfect Repository DigitalOcean Integration
  deploy_perfect_repo_to_digitalocean.sh
Labels: none

🚀 DEPLOYMENT INFRASTRUCTURE: Perfect Repository DigitalOcean Integration
  deploy_perfect_repo_to_digitalocean.sh
Labels: none

🚀 DEPLOYMENT INFRASTRUCTURE: Perfect Repository DigitalOcean Integration
  deploy_perfect_repo_to_digitalocean.sh
Labels: none

🚀 DEPLOYMENT INFRASTRUCTURE: Perfect Repository DigitalOcean Integration
  deploy_perfect_repo_to_digitalocean.sh
Labels: none

🚀 DEPLOYMENT INFRASTRUCTURE: Perfect Repository DigitalOcean Integration
  deploy_perfect_repo_to_digitalocean.sh
Labels: none

🚀 TRIGGER: Deploy perfect repository to DigitalOcean
  .deployment_trigger
Labels: none

🚀 TRIGGER: Deploy perfect repository to DigitalOcean
  .deployment_trigger
Labels: none

🚀 TRIGGER: Deploy perfect repository to DigitalOcean
  .deployment_trigger
Labels: none

🚀 TRIGGER: Deploy perfect repository to DigitalOcean
  .deployment_trigger
Labels: none

🚀 TRIGGER: Deploy perfect repository to DigitalOcean
  .deployment_trigger
Labels: none

Checkpoint before follow-up message
  app.yaml
  comprehensive_health_check.sh
  update_digitalocean_services.sh
  verify_deployment.py
Labels: none

Checkpoint before follow-up message
  app.yaml
  comprehensive_health_check.sh
  update_digitalocean_services.sh
  verify_deployment.py
Labels: none

Checkpoint before follow-up message
  app.yaml
  comprehensive_health_check.sh
  update_digitalocean_services.sh
  verify_deployment.py
Labels: none

Checkpoint before follow-up message
  app.yaml
  comprehensive_health_check.sh
  update_digitalocean_services.sh
  verify_deployment.py
Labels: none
