Repository gabriellagziel/appoint, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, flutter, ci

.github/labeler.yml:

docs:
  - '**/*.md'
  - 'docs/**'
flutter:
  - 'lib/**'
  - 'test/**'
  - 'integration_test/**'
ci:
  - '.github/**'

Restore original App-Oint logo - colorful circle with 8 human figures
  admin/public/logo.svg
  business/logo.svg
  enterprise-onboarding-portal/analytics.html
  enterprise-onboarding-portal/api-keys.html
  enterprise-onboarding-portal/index.html
  enterprise-onboarding-portal/integrations.html
  enterprise-onboarding-portal/locations.html
  enterprise-onboarding-portal/logo.svg
  enterprise-onboarding-portal/settings.html
  enterprise-onboarding-portal/white-label.html
  marketing/public/logo.svg
  mobile/public/logo.svg
Labels: none

Apply correct Cool Blues Design System with proper colors, typography, and spacing tokens
  marketing/public/index.html
Labels: none

Apply correct Cool Blues Design System with proper colors, typography, and spacing tokens
  marketing/public/index.html
Labels: none

Build actual appointment scheduling application with 3-column layout, calendar grid, and detail panel
  marketing/public/scheduler.html
Labels: none

Build actual appointment scheduling application with 3-column layout, calendar grid, and detail panel
  marketing/public/scheduler.html
Labels: none

Complete appointment scheduling application with design system - deploy all apps
  MOBILE_APPS_AUDIT_REPORT.md
Labels: docs

Complete appointment scheduling application with design system - deploy all apps
  MOBILE_APPS_AUDIT_REPORT.md
Labels: docs

Fix ALL UI/UX bugs: Apply correct design system colors (#0A84FF, #5AC8FA, #64D2FF) to business and admin apps
  admin/public/index.html
  business/public/index.html
Labels: none

Fix ALL UI/UX bugs: Apply correct design system colors (#0A84FF, #5AC8FA, #64D2FF) to business and admin apps
  admin/public/index.html
  business/public/index.html
Labels: none

Fix ALL UI/UX bugs: Apply correct design system colors (#0A84FF, #5AC8FA, #64D2FF) to business and admin apps
  admin/public/index.html
  business/public/index.html
Labels: none

Fix ALL UI/UX bugs: Apply correct design system colors (#0A84FF, #5AC8FA, #64D2FF) to business and admin apps
  admin/public/index.html
Labels: none

Fix ALL UI/UX bugs: Apply correct design system colors (#0A84FF, #5AC8FA, #64D2FF) to business and admin apps
  admin/public/index.html
  business/public/index.html
Labels: none

Fix business app: Update out/index.html with correct design system colors
  business/out/index.html
Labels: none

Fix business app: Update out/index.html with correct design system colors
  business/out/index.html
Labels: none

Fix business app: Update out/index.html with correct design system colors
  business/out/index.html
Labels: none

Fix business app: Update out/index.html with correct design system colors
  business/out/index.html
Labels: none

Complete appointment scheduling interface with proper layout and design system
  business/out/index.html
Labels: none

Complete appointment scheduling interface with proper layout and design system
  business/out/index.html
Labels: none

Complete appointment scheduling interface with proper layout and design system
  business/out/index.html
Labels: none

Complete appointment scheduling interface with proper layout and design system
  business/out/index.html
Labels: none

Fix enterprise portal design system - apply cool blues theme to all HTML files
  .DS_Store
  .env.mobile.template
  .env.production
  MOBILE_APPS_AUDIT_REPORT.md
  MOBILE_AUDIT_SUMMARY.md
  MOBILE_SECURITY_CHECKLIST.md
  PRODUCTION_READINESS_STATUS.md
  PRODUCTION_READY_SETUP.md
  admin/public/index.html
  android/app/build.gradle.kts
  android/app/google-services.json
  android/app/google-services.json.backup
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml.backup
  android/app/src/main/res/values/strings.xml
  android/gradle.properties
  build_android_production.sh
  build_ios_production.sh
  business/index.html
  enterprise-onboarding-portal/.env.production
  enterprise-onboarding-portal/analytics.html
  enterprise-onboarding-portal/api-keys.html
  enterprise-onboarding-portal/build_production.sh
  enterprise-onboarding-portal/dashboard.html
  enterprise-onboarding-portal/index.html
  enterprise-onboarding-portal/integrations.html
  enterprise-onboarding-portal/locations.html
  enterprise-onboarding-portal/login.html
  enterprise-onboarding-portal/server.js
  enterprise-onboarding-portal/settings.html
  enterprise-onboarding-portal/white-label.html
  fix_mobile_security_issues.sh
  ios/Runner/GoogleService-Info.plist.backup
  ios/Runner/Info.plist.backup
  make_production_ready.sh
  mobile/public/index.html
  quick_production_fixes.sh
  validate_production_security.sh
Labels: docs

Fix enterprise portal design system - apply cool blues theme to all HTML files
  .DS_Store
  .env.mobile.template
  .env.production
  MOBILE_APPS_AUDIT_REPORT.md
  MOBILE_AUDIT_SUMMARY.md
  MOBILE_SECURITY_CHECKLIST.md
  PRODUCTION_READINESS_STATUS.md
  PRODUCTION_READY_SETUP.md
  admin/public/index.html
  android/app/build.gradle.kts
  android/app/google-services.json
  android/app/google-services.json.backup
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml.backup
  android/app/src/main/res/values/strings.xml
  android/gradle.properties
  build_android_production.sh
  build_ios_production.sh
  business/index.html
  enterprise-onboarding-portal/.env.production
  enterprise-onboarding-portal/analytics.html
  enterprise-onboarding-portal/api-keys.html
  enterprise-onboarding-portal/build_production.sh
  enterprise-onboarding-portal/dashboard.html
  enterprise-onboarding-portal/index.html
  enterprise-onboarding-portal/integrations.html
  enterprise-onboarding-portal/locations.html
  enterprise-onboarding-portal/login.html
  enterprise-onboarding-portal/server.js
  enterprise-onboarding-portal/settings.html
  enterprise-onboarding-portal/white-label.html
  fix_mobile_security_issues.sh
  ios/Runner/GoogleService-Info.plist.backup
  ios/Runner/Info.plist.backup
  make_production_ready.sh
  mobile/public/index.html
  quick_production_fixes.sh
  validate_production_security.sh
Labels: docs

🔧 Fix deployment issues: Updated app_spec.yaml, fixed TypeScript compilation, verified enterprise directory
  .DS_Store
  .do/app_spec.yaml
  .github/.DS_Store
  .idea/.gitignore
  .idea/ga.iml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/modules.xml
  .idea/vcs.xml
  android/.DS_Store
  deployment_summary.txt
  fix_deployment_issues.sh
  functions/.DS_Store
  functions/src/.DS_Store
  ios/.DS_Store
  ios/Runner/.DS_Store
  lib/.DS_Store
  lib/features/.DS_Store
  lib/features/studio_business/.DS_Store
  lib/widgets/.DS_Store
  linux/.DS_Store
  monitoring/.DS_Store
  packages/.DS_Store
  performance/.DS_Store
  sso-saml-oidc/.DS_Store
  third_party/.DS_Store
  tool/.DS_Store
  windows/.DS_Store
Labels: flutter, ci

🔧 Fix deployment issues: Updated app_spec.yaml, fixed TypeScript compilation, verified enterprise directory
  .DS_Store
  .do/app_spec.yaml
  .github/.DS_Store
  .idea/.gitignore
  .idea/ga.iml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/modules.xml
  .idea/vcs.xml
  android/.DS_Store
  deployment_summary.txt
  fix_deployment_issues.sh
  functions/.DS_Store
  functions/src/.DS_Store
  ios/.DS_Store
  ios/Runner/.DS_Store
  lib/.DS_Store
  lib/features/.DS_Store
  lib/features/studio_business/.DS_Store
  lib/widgets/.DS_Store
  linux/.DS_Store
  monitoring/.DS_Store
  packages/.DS_Store
  performance/.DS_Store
  sso-saml-oidc/.DS_Store
  third_party/.DS_Store
  tool/.DS_Store
  windows/.DS_Store
Labels: flutter, ci

🔧 Fix all deployment issues: Admin Tailwind CSS, API TypeScript, Enterprise directory verified
  .idea/caches/deviceStreaming.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/vcs.xml
  admin/package-lock.json
  admin/package.json
  android/app/proguard-rules.pro
  deployment_fixes_summary.txt
  enterprise-onboarding-portal/package-lock.json
  enterprise-onboarding-portal/production/analytics.html
  enterprise-onboarding-portal/production/api-keys.html
  enterprise-onboarding-portal/production/dashboard.html
  enterprise-onboarding-portal/production/index.html
  enterprise-onboarding-portal/production/index.js
  enterprise-onboarding-portal/production/integrations.html
  enterprise-onboarding-portal/production/locations.html
  enterprise-onboarding-portal/production/login.html
  enterprise-onboarding-portal/production/server.js
  enterprise-onboarding-portal/production/settings.html
  enterprise-onboarding-portal/production/white-label.html
  fix_all_deployment_issues.sh
Labels: none

🔧 Fix all deployment issues: Admin Tailwind CSS, API TypeScript, Enterprise directory verified
  .idea/caches/deviceStreaming.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/vcs.xml
  admin/package-lock.json
  admin/package.json
  android/app/proguard-rules.pro
  deployment_fixes_summary.txt
  enterprise-onboarding-portal/package-lock.json
  enterprise-onboarding-portal/production/analytics.html
  enterprise-onboarding-portal/production/api-keys.html
  enterprise-onboarding-portal/production/dashboard.html
  enterprise-onboarding-portal/production/index.html
  enterprise-onboarding-portal/production/index.js
  enterprise-onboarding-portal/production/integrations.html
  enterprise-onboarding-portal/production/locations.html
  enterprise-onboarding-portal/production/login.html
  enterprise-onboarding-portal/production/server.js
  enterprise-onboarding-portal/production/settings.html
  enterprise-onboarding-portal/production/white-label.html
  fix_all_deployment_issues.sh
Labels: none

🔧 Fix final deployment issues: Marketing jsconfig.json, API tsconfig.json, Firebase Functions v2
  fix_final_deployment_issues.sh
  functions/tsconfig.json
  marketing/jsconfig.json
Labels: none

🔧 Fix final deployment issues: Marketing jsconfig.json, API tsconfig.json, Firebase Functions v2
  fix_final_deployment_issues.sh
  functions/tsconfig.json
  marketing/jsconfig.json
Labels: none

🔧 Fix ALL deployment issues: Marketing build script, API TypeScript, Enterprise directory verified
  fix_all_deployment_issues_final.sh
  marketing/next.config.js
  marketing/package-lock.json
  marketing/pages/index.js
  marketing/src/app/favicon.ico
  marketing/src/app/globals.css
  marketing/src/app/layout.tsx
Labels: none

🔧 Fix ALL deployment issues: Marketing build script, API TypeScript, Enterprise directory verified
  fix_all_deployment_issues_final.sh
  marketing/next.config.js
  marketing/package-lock.json
  marketing/pages/index.js
  marketing/src/app/favicon.ico
  marketing/src/app/globals.css
  marketing/src/app/layout.tsx
Labels: none

🔧 Fix marketing deployment: Working build script, clean Next.js config, simple index.js
  fix_marketing_deployment.sh
  marketing/next.config.js
  marketing/package-lock.json
  marketing/package.json
  marketing/pages/index.js
Labels: none

🔧 Fix marketing deployment: Working build script, clean Next.js config, simple index.js
  fix_marketing_deployment.sh
  marketing/next.config.js
  marketing/package-lock.json
  marketing/package.json
  marketing/pages/index.js
Labels: none

🔧 Fix marketing build script for DigitalOcean deployment
  .do/app_spec.yaml
  marketing/package.json
Labels: none

🔧 Fix marketing build script for DigitalOcean deployment
  .do/app_spec.yaml
  marketing/package.json
Labels: none

🔧 Fix docs build script for DigitalOcean deployment
  docs/playground/package.json
Labels: docs

🔧 Fix docs build script for DigitalOcean deployment
  docs/playground/package.json
Labels: docs

🔧 Fix marketing build script with exit 0 for DigitalOcean
  marketing/package.json
Labels: none

🔧 Fix marketing build script with exit 0 for DigitalOcean
  marketing/package.json
Labels: none

🔧 Fix enterprise build script with exit 0 for DigitalOcean
  enterprise-onboarding-portal/package.json
Labels: none

🔧 Fix enterprise build script with exit 0 for DigitalOcean
  enterprise-onboarding-portal/package.json
Labels: none
